* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$textDark: #111;
$textLight: #eee;
$subtitle: #666;


body {
  font-family: sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: bold;
}

h1,
.h1 {
  font-size: 3.5rem;
}

h2,
.h2 {
  font-size: 3rem;
}

h3,
.h3 {
  font-size: 2.5rem;
}

h4,
.h4 {
  font-size: 2rem;
}

h5,
.h5 {
  font-size: 1.5rem;
}

h6,
.h6 {
  font-size: 1rem;
}

.subtitle {
  font-size: 1.2rem;
  color: $subtitle;
}

.body1 {
}
.body2 {
  color: $subtitle;
}
