$bgc: #ddd;
$borderRadius: 7px;

.card {
  background-color: $bgc;
  border-radius: $borderRadius;
  padding: 1rem;
  width: 100%;
  max-width: 500px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.7rem;
  }

  &__preview {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__image {
    border-radius: 50px;
    height: 3rem;
    width: 3rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.7rem;
    background-color: #aaa;

    & img {
      max-width: 60px;
      max-height: 60px;
    }
  }

  &__title {
    text-transform: capitalize;
  }

}
